<section class="banner-container">
  <div class="parallax-bg"></div>

  <div class="container-fluid content-wrapper p-0">
    <div class="row w-100 mx-0 align-items-center justify-content-lg-end justify-content-center">

      <div class="col-12 col-lg-6 col-md-10 text-lg-start text-center text-content pe-lg-5">

        <h1>
          Breast Milk<br />
          Donation Drive
        </h1>

        <!-- Icons surrounded by the text -->
        <div class="icon-row my-4 d-flex justify-content-lg-start justify-content-center">
          <div class="icon-item text-center me-4">
            <mat-icon>water_drop</mat-icon>
            <p>Pure Care</p>
          </div>
          <div class="icon-item text-center me-4">
            <mat-icon>child_care</mat-icon>
            <p>Healthy</p>
          </div>
          <div class="icon-item text-center">
            <mat-icon>volunteer_activism</mat-icon>
            <p>Support</p>
          </div>
        </div>
        <h4 class="mt-4">
          Commenced on August 1st, 2023<br />
          in and around Chennai.
        </h4>

        <div class="button-group mt-lg-5 mt-4 desktop-start">
          <button class="pill-btn btn-primary" [routerLink]="['/super-mom/donate']">
            <span>DONATE MILK</span>

          </button>
          <button class="pill-btn btn-secondary" [routerLink]="['/super-mom/get-milk']">
            <span>GET MILK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>