.spinner {
  max-width: 200px;
  min-width: 200px;
  background-color: transparent !important;
}

.failure-notification-wrapper {
  color: red;
}

.success-notification-wrapper {
  color: green;
}

.dialog-transparent {
  background-color: transparent;
}

.mat-dialog-container {
  background-color: transparent;
}
